$emphasis-font: 'Zilla Slab Highlight', cursive;
$eyecatch-font: 'Oleo Script', cursive;
$header-font: 'Slabo 13px', serif;

$main-title-text: #ffffff;
$main-title-bg: #000000;

$atos-blues: #0066a1;
$bg-contract: #57B8FF;
$bg-freelance: #FBB13C;
$bg-research: #FE6847;
$bg-footer: #B66D0D;

html, body {
    margin: 0 auto;
    height: 100%;
    font-family: $header-font;
    text-shadow: 0px 4px 10px rgba(10, 10, 10, 1);
}
.container {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100%;
    justify-content:center;
    align-items:center;
    box-shadow: 
        inset 0px 1vw 2vw -0.5vw rgba(10, 10, 10, 0.8)
}

#heading {
    background: $main-title-bg;
    color: $main-title-text;
    text-align: center;
}

#vitals {
    border-top: solid $main-title-text;
    border-width: 0.3vw;
    padding-top: 0.7vw;
    width: 58vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

h1 {
    margin: 0;
}

#heading h1 {
    font-size: 6vw;
    margin: 0
}

#heading h2 {
    font-family: $eyecatch-font;
    border-bottom: 0.3vw dotted $main-title-text;
    padding-bottom: 0.7vw;
    font-size: 2.75vw;
    margin-top: -1.7vw;
}

strong {
    font-family: $emphasis-font;
    font-weight: bold;
    padding-right: 0.5em;
}

#skills div {
    text-align: left;
    padding: 1vw
}

#skills h3 {
    text-decoration: none;
    font-size: 5vh;
    margin: -3vh 0 0;
    text-align: center;
}

#hardskills {
    border-right: 1px solid white;
}


.employment h1 {
    text-align: center;
    font-size: 4vw;
    padding: 0.5vw;
    padding-bottom: 0;
    border-bottom: 1px solid;
    margin: 0 10vw;
}

.employment h2 {
    margin-bottom: 0
}
.employment h3 {
    margin: 0;
}

.history-item {
    padding: 0 4vw;
    border-right: 0.2vw dotted;
    margin-top: 2vw;
}

#atos {
    background: $atos-blues;
    color: white;
    border-top: 1px solid #212121;
}

#contract {
    background: $bg-contract;
    color: white;
}

#freelance {
    background: $bg-freelance;
    color: white;
}

#research {
    background: $bg-research;
    color: white;
}

#contract .history-container:last-child, #freelance .history-container:last-child {
    border-top: 0.6vw dotted;
    margin-top: 2vw;
}

.history-item:last-child {
    border-right: none !important
}

.history-item li {
    margin: 1vw auto;
}

.employment-container {
    width: 100%
}

footer {
    background: $bg-footer;
    border-top: 1px solid $bg-freelance;
    padding: 1vw;
    color: white;
    text-align: center;
}

@import 'orientations'