@media (orientation: landscape), (min-width: 1000px) {
    section {
        display: flex
    }
    .history-container {
        display: flex
    }

    #skills {
        display: flex
    }
    #skills div {
        width: 50%
    }

    #atos .history-item, #contract .history-item {
        width: 33.3%;
    }
    
    #research .history-item, #freelance .history-item, #contract .history-container:last-child .history-item {
        width: 50%;
    }
}